<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Graduate project">
    <link rel="icon" href="https://fhq.hcmute.edu.vn/Resources/Images/SubDomain/fhq/logo%20CLC%20Circle.png" type="image/x-icon">
    <title>Graduate project</title>
    <link rel="stylesheet" href="static/dist/css/output.css">
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css"
    />
</head>
<body>
    <div class="flex flex-row bg-slate-100 h-screen">
        <div id="navbar" class="flex flex-col">
            <div class="flex flex-row ml-3 mr-2 pb-12 " >
                <a class="mr-2"  href="#">
                    <img src="https://fhq.hcmute.edu.vn/Resources/Images/SubDomain/fhq/logo%20CLC%20Circle.png" alt="ute logo" class="w-20 h-20">
                </a>
                <div class="flex-grow flex flex-col justify-center font-semibold">
                    <h1 class="text-sm">HCMC UNIVERSITY OF TECHNOLOGY AND EDUCATION</h1>
                    <hr class="w-80 border-t border-red-600">
                    <h2 class="text-blue-900 text-xs">FACULTY FOR HIGH QUALITY TRAINING</h2>
                </div>
            </div>
            <div class="flex-grow border-r-8 drop-shadow-md rounded-md pl-6 ">
                <!-- Navigation  -->
                <!-- <div data-url="index.html" class="p-2.5 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer  text-black clickable-div">
                    <i class="bi bi-house-door-fill"></i>
                    <span class="text-[15px] ml-8 text-black font-bold">Home</span>
                </div> -->
                
                <div data-url="control-page.html" class="p-2.5 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer  text-black  clickable-div">
                    <i class="bi bi-shield-lock-fill"></i>
                    <span class="text-[15px] ml-8 text-black font-bold">Remotely Control</span>
                </div>

                <!-- <div class="p-2.5 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer  text-black clickable-div">
                    <i class="bi bi-people-fill"></i>
                    <span class="text-[15px] ml-8 text-black font-bold">User Management</span>
                </div> -->
                
                <div data-url="change-password.html" class="p-2.5 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer  text-black clickable-div">
                    <i class="bi bi-key-fill"></i>
                    <span class="text-[15px] ml-8 text-black font-bold">Change Password</span>
                </div>

                <div data-url="logout" class="p-2.5 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer  text-black  clickable-div">
                    <i class="bi bi-box-arrow-right"></i>
                    <span class="text-[15px] ml-8 text-black font-bold">Logout</span>
                </div>
            </div>
        </div>
        <div id="content" class="flex flex-col flex-grow">
            <div id="header" class="flex flex-col pt-3 pb-4  border-b-8 drop-shadow-md rounded-md">            
                <div dir="ltr" class="drop-shadow-md flex-grow flex flex-col items-center justify-center border-l-8 border-b-8  rounded-s-lg mr-2 mb-2">
                    <h1 class="text-black text-4xl font-semibold pb-2 ">Remotely Control Door</h1>
                    <h2 class="font-light text-xl text-gray-500 pb-2">Capstone project</h2>
                </div>
            </div>
            
            <div class="flex flex-grow flex-row bg-white">
                <!-- Content -->
                <!-- Stream video -->
                <div class="flex flex-col w-3/5 h-full  pt-12 pb-36 items-center justify-center ">
                    <!-- <iframe  
                    class=" w-4/5 h-full  rounded-3xl" 
                    width="560" height="315" 
                    src="https://www.youtube.com/embed/6H-PLF2CR18?si=Lt8yzAsU8yl9JYMW" 
                    title="YouTube video player" 
                    frameborder="0" 
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe> -->
                         
                    <div class="flex flex-row mt-7 w-full justify-around">
                        <button id="toggleBtn" class="middle none center rounded-lg bg-sky-500 py-3 px-6 font-sans text-xs font-bold uppercase text-white shadow-md shadow-pink-500/20 transition-all hover:shadow-lg focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none" data-ripple-light="true">
                            <i class="bi bi-lock-fill"></i> 
                        </button>
                    </div>
                </div>
                <!-- logs -->
                <div class="flex-grow max-h-96 overflow-y-auto mt-5 mr-4 mb-20 p-4 bg-gray-50 border-2 border-violet-200 rounded-s-3xl" id="log">
                    <!-- Log entries will be appended here -->
                </div>
            </div>
        </div>
    </div>

    <script src="static/dist/js/toggleLock.js" defer type="module"></script>
    <script src="static/dist/js/addLogEntry.js" defer type="module"></script>
    <script src="static/dist/js/clickableNavDivs.js" defer></script>
    
    
</body>
</html>